:root {
  --darkBlue400: #052051;
  --lightBlue300: #e9ecf8;
  --lightBlue400: #aab2d5;
  --gray100: #ced4da;
  --gray400: #495057;
}

/* -------fondo------- */

body {
  background-color: var(--lightBlue300);
  width: 100vw;
  height: 100vh;
}

/* -------cabezote------- */

.logo-alura {
  width: 90px;
  position: relative;
  top: 30px;
}

/* -------diagramación------- */

.content {
  display: flex;
}

/* -------input------- */

.center-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 90vh;
  justify-content: space-between;
}

.textarea-input {
  width: 80%;
  height: 90%;
  resize: none;
  border: none;
  background-color: var(--lightBlue300);
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.textarea-input:focus {
  outline: none;
}

.textarea-input::placeholder {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #052051;
}

.intro-texto {
  width: 100%;
  height: 90vh;
}

.center-input p {
  color: var(--gray400);
}

.center-input p::before {
  content: "ⓘ ";
}

.center-input button {
  width: 230px;
  height: 40px;
  border-radius: 18px;
  border: 1.7px solid var(--darkBlue400);
  cursor: pointer;
}

.encriptar-btn {
  background-color: var(--darkBlue400);
  color: white;
  margin-right: 5px;
}

.descifrar-btn {
  background-color: var(--lightBlue400);
  color: var(--darkBlue400);
  margin-left: 5px;
}

/* -------output------- */

.container-txt-encriptado {
  background-color: white;
  border-radius: 15px;
  min-width: 360px;
  height: 90vh;
  margin: 0 30px;
  display: flex;
  box-shadow: 10px 10px 30px var(--lightBlue400);
}

.container-txt-encriptado img {
  width: 80%;
  margin-left: 40px;
  margin-top: 150px;
}

.container-txt-encriptado h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--darkBlue400);
  font-size: 1.3rem;
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.container-txt-encriptado p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  text-align: center;
  color: var(--gray400);
}

/* -------footer------- */

footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  color: var(--gray400);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

/* -------encriptado------- */

.div-encriptado {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  justify-content: center;
  align-content: center;
  justify-self: center;
  margin: 30px;
}

.parrafo-encriptado {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: var(--gray400);
}

.copy-btn {
  width: 230px;
  height: 40px;
  border-radius: 18px;
  border: 1.7px solid var(--darkBlue400);
  cursor: pointer;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.btn-azul {
  width: 230px;
  height: 40px;
  border-radius: 18px;
  border: none;
  background-color: var(--gray100);
  color: rgb(98, 98, 98);
  cursor: pointer;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
